html {
  width: 100%;
  height: 100%;
  background-image: url(/icon/newicon.svg);
  background-size: 50%;
  background-position: center;
}

.v-expansion-panel-text.no-iner-padding {
  .v-expansion-panel-text__wrapper {
    padding: 0;
  }
}
