footer {
  user-select: none;
  .github {
    a {
      outline: none;
      border: none;
      height: 1.3rem;
      width: 1.3rem;
      background: no-repeat;
      background-position: center;
      background-image: url('/icon/github-mark-white.svg');
      background-size: 1.3rem;
      cursor: pointer;
      display: block;
      &:hover {
        filter: drop-shadow(0 0 4px rgba(29, 185, 84));
      }
    }
  }
}